.done {
    cursor: pointer;  /*seems like Cursor.HAND*/
        -fx-background-color: rgb(123,104,238);
        -fx-text-fill: white;
        -fx-background-radius:  10px;
}

.done:hover {
    -fx-background-color: #000000;
}

.delete {
    cursor: pointer;  /*seems like Cursor.HAND*/
    -fx-background-color: rgb(123,104,238);
    -fx-text-fill: white;
    -fx-background-radius:  10px;
}

.delete:hover {
    -fx-background-color: #000000;
}

.checkBox-custom .box {
    -fx-background-color: #a29cf4;
    -fx-border-color: rgb(123,104,238);
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
}

.checkBox-custom:selected .box {
    -fx-background-color: rgb(123,104,238);
    -fx-border-color: rgb(123,104,238);
}

